:root {
  color-scheme: dark;
}

* {
  /* border: 1px solid greenyellow; */
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a {
  color: inherit;
  margin: 0;
}

.fade-in {
  animation: fade-in 0.3s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}

/* html {
  scroll-snap-type: y mandatory;
} */

.background {
  background: url(../public/background.webp);
  background-attachment: fixed;
  background-color: black;
  background-position: left 75%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: -1;
}

.content {
  color: white;
  z-index: 1;
  height: 100vh;
  position: fixed;
  width: 100vw;
}


.nav-main {
  align-items: center;
  display: flex;
  left: 10rem;
  height: 17.5rem;
  top: calc(50vh - (17.5rem / 2));
  position: fixed;
  z-index: 3;
}

.nav-link {
  color: rgba(255, 255, 255, 0.5);
  font-size: 5rem;
  font-weight: 700;
  line-height: 90%;
  margin: 0;
  padding: 0;
  transition: 0.3s;

}

.nav-current {
  color: rgba(255, 255, 255, 0.8);
}

.nav-link:hover {
  color: rgba(255, 255, 255, 1);
}

.nav-middle {
  margin: 0 0 0 7.5rem;
}

.nav-bottom {
  margin: 0 0 0 15rem;
}

.menu-header {
  display: none;
  z-index: 3;
}

.menu-button {
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.60);
  cursor: pointer;
  display: inline;
  font-family: Aileron;
  font-size: 2rem;
  font-weight: 700;
  transition: 0.2s;
}

.menu-button:hover {
  color: white;
}

.menu-page {
  color: rgba(255, 255, 255, 0.80);
  display: inline;
  font-family: Aileron;
  font-size: 2rem;
  font-weight: 700;
}

.menu-overlay {
  align-items: center;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  height: 100vh;
  justify-content: center;
  position: fixed;
  width: 100vw;
  z-index: 2;
}

.hp-main {
  bottom: 8rem;
  position: fixed;
  right: 10rem;
}

.hp-title {
  display: flex;
  flex-direction: row-reverse;
  align-items: end;
}

.hp-alias {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0 0.5rem 0 0;
  text-align: end;
}

.hp-name {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 90%;
  text-align: end;
}

.hp-occupation {
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 90%;
  text-align: end;
}

.hp-text {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0.25rem 0 0;
  text-align: end;
}

.wp-main {
  height: 100vh;
  padding: 0 10rem 0 calc(100% - 10rem - 55%);
  position: absolute;
  right: 0rem;
  width: 55%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  z-index: 1;
}

.wp-work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  scroll-snap-align: start;
}

.wp-work-top {
  display: flex;
}

.wp-work-number {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0.5rem 1rem 0 0.5rem;
}

.wp-work-name {
  font-size: 2.25rem;
  font-weight: 600;
}

.wp-work-info {
  font-size: 1.5rem;
  font-weight: 400;

}

.wp-work-img {
  border-radius: 1rem;
  margin: 2rem 0 3rem;
  width: 50rem;
}

.wp-work-bottom {
  display: flex;
}

.wp-work-desc {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0 3rem 0 0;
  width: 48rem;
}

.wp-work-spec {
  font-size: 1.125rem;
  width: 25rem;
}

.wp-work-span {
  font-size: 1.25rem;
  font-weight: 600;
}

.wp-work-link {
  font-size: 1.125rem;
  text-decoration: underline;
}

footer {
  bottom: 8rem;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.25rem;
  font-weight: 400;
  left: 10rem;
  position: fixed;
  transition: 0.2s;
  z-index: 3;
}

.footer-link:hover {
  color: rgba(255, 255, 255, 1);
}

@media(max-width: 1600px) and (max-height: 1200px) {

  .nav-main {
    left: 7.5rem;
  }

  .hp-main {
    right: 7.5rem;
  }

  .wp-main {
    padding: 0 7.5rem 0 calc(100% - 10rem - 55%);
  }

  .wp-work-img {
    margin: 2rem 0;
    width: 45rem;
  }

  .wp-work-bottom {
    flex-direction: column;
  }

  .wp-work-desc {
    margin: 0 0 2rem 0;
    width: 100%;
  }

  .wp-work-spec {
    width: 100%;
  }

  footer {
    left: 7.5rem;
  }

}

@media (max-width: 1400px) and (max-height: 1200px) {
  .nav-main {
    left: 5rem;
  }

  .hp-main {
    right: 5rem;
  }

  .wp-main {
    padding: 0 5rem 0 calc(100% - 10rem - 55%);
  }

  .wp-work-img {
    width: 40rem;
  }

  footer {
    left: 5rem;
  }
}

@media (max-width: 1200px) and (max-height: 1200px) {
  .content {
    backdrop-filter: blur(0.25rem);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .background {
    background-position: center;
  }

  .nav-main {
    display: none;
  }

  .menu-header {
    display: flex;
    align-items: end;
    width: calc(100vw - 10rem);
    height: 5rem;
    position: fixed;
  }

  .wp-main {
    height: calc(100vh - 10rem);
    padding: 5rem;
    position: static;
    right: auto;
    width: calc(100vw - 10rem);
  }

  .wp-work {
    height: 100vh;
  }

  .wp-work-img {
    width: calc(100vw - 15rem);
  }

  footer {
    display: inline;
    height: 5rem;
    bottom: 0;
    left: auto;
  }
}