* {
  border: 1px solid greenyellow;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a {
  color: inherit;
  margin: 0;
}

body {
  background: url(../public/background.jpg);
  background-attachment: fixed;
  background-position: left 75%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.nav-outer {
  align-items: center;
  display: flex;
  height: 100vh;
  margin: 0 0 0 10rem;
  position: fixed;
}

.nav-link {
  color: rgba(255, 255, 255, 0.5);
  font-size: 5rem;
  font-weight: 700;
  line-height: 90%;
  margin: 0;
  padding: 0;
  transition: 0.2s;
}

.nav-current {
  color: rgba(255, 255, 255, 0.8);
}

.nav-link:hover {
  color: rgba(255, 255, 255, 1);
}

.nav-middle {
  margin: 0 0 0 7.5rem;
}

.nav-bottom {
  margin: 0 0 0 15rem;
}

.hp-main {
  bottom: 8rem;
  position: absolute;
  right: 10rem;
}

.hp-title {
  display: flex;
  flex-direction: row-reverse;
  align-items: end;
}

.hp-alias {
  font-size: 1.4rem;
  font-weight: 300;
  margin: 0 0.5rem 0 0;
  text-align: end;
}

.hp-name {
  font-size: 3.1rem;
  font-weight: 700;
  line-height: 90%;
  text-align: end;
}

.hp-occupation {
  font-size: 2.15rem;
  font-weight: 300;
  line-height: 90%;
  text-align: end;
}

.hp-text {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0.25rem 0 0;
  text-align: end;
}

.wp-main {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 10rem;
  width: 50%;
}

.wp-work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.wp-work-top {
  display: flex;
}

.wp-work-number {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0.75rem 1rem 0 0.5rem;
}

.wp-work-name {
  font-size: 2.15rem;
  font-weight: 400;
}

.wp-work-info {
  font-size: 1.4rem;
  font-weight: 400;

}

.wp-work-img {
  aspect-ratio: 16/9;
  border-radius: 1rem;
  margin: 2rem 0;
  width: 50rem;
}

.wp-work-bottom {
  display: flex;
}

.wp-work-desc {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0 3rem 0 0;
  width: 100%;
}

.wp-work-spec {
  font-size: 1.1rem;
}

.wp-work-span {
  font-weight: 600;
}

.wp-work-link {
  text-decoration: underline;
}




footer {
  bottom: 8rem;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.1rem;
  font-weight: 400;
  left: 10rem;
  position: fixed;
  transition: 0.2s;
}

.footer-link:hover {
  color: rgba(255, 255, 255, 1);
}